button {
    font-size: 14px;
    padding: 17px 30px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #395;
    background-color: #fff;
    color: #395;
    -webkit-transition: color ease .5s, background-color ease .5s;
    transition: color .5s, background-color .5s;
    cursor: pointer;
}

button:hover {
    background-color: #395;
    color: #fff;
}

button:focus {
    outline: none;
}