<app-section>
  <div *ngIf="!showLoading" class="hideableDiv" [ngClass]="{'hide': searching}">
    <h2 style="text-align: center">
      {{topMsg}}
    </h2>

    <div style="width: 100%">
      <app-auto-complete
        [(value)]="value"
        [onSearch]="handleSearch"
        [onSelect]="handleSelect"
        [placeholder]="messagesConst.TYPE_ARTIST">
      </app-auto-complete>
    </div>
    <h3>
        or
    </h3>

    <app-button [title]="messagesConst.USE_TOP_SONGS" [onClick]="getPlaylistFromTopArtists"></app-button>
  </div>

  <div class="loading-msg" [ngClass]="{'loading-msg-show': showLoading}">
    <i class="fas fa-circle-notch fa-spin fa-lg" style="margin-right: 15px"></i>
    <h3>{{loadingMsg}}</h3>
  </div>
</app-section>