<div class="top-bar" *ngIf="user">
  <div class="avatar">
    <img
      src="{{user.image && user.image.url}}"
      (click)="openProfile()"
      alt="Avatar" />
  </div>
</div>

<section>
  <h2>
    We create a cool random playlist for you
  </h2>
  <h3>
    type in an artist to be used as base
  </h3>
  <div>
    <app-auto-complete [(value)]="value" [onClickSearch]="handleClickSearch"></app-auto-complete>
  </div>
  <div>
    {{value}}
  </div>
  <h3>
      or
  </h3>
  <app-button [title]="'use your top songs'"></app-button>

  <app-button [title]="'Authorization'" (click)="getAuthorizationPage()"></app-button>
  
  <app-button [title]="'Get Top'" (click)="getTop()"></app-button>

  <app-button [title]="'Get Related'" (click)="getRelatedArtists()"></app-button>
</section>

