.hideableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 1;
    transition: opacity ease 1s;
}

.hideableDiv.hide {
    opacity: 0;
}

.loading-msg h3 {
    display: inline-block;
}

.loading-msg {
    color: #fff;
    opacity: 0;
    transition: opacity ease 1s;
}

.loading-msg.loading-msg-show {
    opacity: 1;
}
