<div class="top-bar" [ngClass]="{'flex-end': !_tracksAreSet, 'space-between': _tracksAreSet}">
  <app-button
    *ngIf="_tracksAreSet"
    icon="fas fa-arrow-left"
    title="Home"
    (click)="goToHome()">
  </app-button>
  <app-button
    *ngIf="!_user"
    [icon]="authButtonIcon"
    title="Authorization"
    (click)="getAuthorizationPage()">
  </app-button>
  <div *ngIf="_user" class="avatar">
    <img
      src="{{_user.image && _user.image.url}}"
      (click)="openProfile()"
      alt="Avatar" />
  </div>
</div>