h2, h3, h4, i {
    color: #395;
}

.container {
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    padding: 15px;
    margin: 15px; 
    transition: opacity ease 1s;
}

.container.show {
    opacity: 0.92;
}

.panel {
    display: flex;
    width: 90vw;
}

.tracks {
    background-color: #fff;
    display: inline-block;
    flex: 7;
    height: 60vh;
    overflow: auto;
}

.track {
    border-bottom: 1px solid #f3f3f5;
    padding: 5px;
    padding-left: 10px;
    font-weight: 100;
}

.artist {
    font-weight: bold;
}

.options {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.button {
    align-self: flex-end;
}

.result-msg h3 {
    color: #fff;
    transition: color ease 1s;
}

.result-msg.result-msg-show h3 {
    color: #395;
}

@media (max-width: 1024px) {
    .panel {
        flex-direction: column;
    }

    .tracks {
        width: 100%;
    }

    .options, .button {
        margin-top: 25px;
    }
}

@media (max-width: 1024px) and (max-height: 1200px) {
    .tracks {
        height: 40vh;
    }
}

@media (max-width: 700px) and (max-height: 900px) {
    .tracks {
        height: 30vh;
    }
}

@media (max-width: 500px) and (max-height: 700px) {
    .tracks {
        height: 20vh;
    }
}